.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid slategray;
  padding: 20px 30px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.search {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 10px;
}
.search input {
  border: none;
  width: 300px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user img {
  border-radius: 50px;
}
